body {
	margin-bottom: 200px;
	color: #232323;
	text-align: center;
	text-rendering: geometricPrecision;
	line-height: 24px;
	font-family: "Inter Tight", sans-serif;
}

.content-container {
	width: 100%;
	margin: 0 auto;
	text-align: left;
	position: relative;
}

/* HEADER ROW */
.header-row {
	padding: 12px;
	width: 97%;
	position: relative;
	display: flex;
	gap: 20vw;
	overflow: hidden;
}

.header-row .left {
	width: 40%;
	position: relative;
	display: flex;
	gap: 50px;
	flex: 1 1 0;
}

.header-row .long {
    width: 80%;
}

.header-row .title {
	width: max-content;
	flex: 0 0 auto;
}

.header-row .description p {
	margin: 0;
	width: 350px;
}

.header-row .long p {
    width: 500px;
}

.header-row .right {
	width: 350px; 
	float: right;
}

/* CORE STYLES */

h1 {
	margin-top: 1pt;
	margin-bottom: 0;
	font-size: 16pt;
	font-weight: 390;
}

h2 {
	margin-bottom: 0;
	font-size: 14pt;
	font-weight: 390;
}

.label {
    font-weight: 500;
	font-style: normal;
    padding-bottom: 8px;
}

.gray {
    opacity: 0.5;
    font-weight: 350;
}

p {
	font-size: 12pt;
	line-height: 16pt;
	font-weight: 400;
	letter-spacing: .2px;
}

.links {
	margin-top: 10pt;
}

.link {
	color: #232323;
	font-size: 12pt;
}

.links a:visited {
	color: #232323;
}

a:visited {
	color: #232323;
}


/* MODIFIERS */

.italic {
	font-style: italic;
}

.no-margin {
	margin: 0;
}

.uppercase {
	text-transform: uppercase;
}

.half-width {
	width: 50%;
}

.indent {
	text-indent: 24pt;
}
