body {
	padding: 2em;
	margin-bottom: 200px;
	color: #191919;
	text-align: center;
	line-height: 24px;
}

.content-container {
	width: 500pt;
	margin: 0 auto;
	text-align: center;
}




/* CORE STYLES */

h2 {
	margin-bottom: 0px;
	font-size: 18pt;
}

h4 {
	margin-top: 3pt;
	margin-bottom: 0;
	font-size: 12pt;
}

i {
	font-weight: bold;
	font-style: normal;
}

p {
	text-indent: 24pt;
	text-align: justify;
	font-size: 11pt;
	line-height: 14pt;
}

.links {
	margin-top: 10pt;
}

.links a {
	color: black;
	text-transform: uppercase;
	padding: 0pt 5pt;
	font-size: 9pt;
}

.links a:visited {
	color: black;
}

a:visited {
	color: blue;
}

.rule-partial {
	height: 0pt;
    width: 96pt;
    border-bottom: 1pt solid #000000;
    margin: 20pt auto;
}

video {
}

img {
	width: 100%;
}

.research-video {
	width: 50%;
	margin-top: 20pt;
}

.full-width-video {
	width: 100%;
	margin-top: 20pt;
}

.image-caption {
	text-align: center;
	text-indent: 0;
	opacity: 0.5;
}



/* MODIFIERS */

.italic {
	font-style: italic;
}

.no-margin {
	margin: 0;
}

.uppercase {
	text-transform: uppercase;
}

.half-width {
	width: 50%;
}




/* TABLE STYLES BULLET LIST */

.list {
	margin-left: 24pt;
}

.list td {
	vertical-align: top;
}

.list .dot {
	width: 10pt;
	text-align: left;
}

.list td p {
	margin: 0;
	text-align: left;
	text-indent: 0pt;
	margin-bottom: 5pt;
}


/* TABLE STYLES TABLE LIST */

.research {
	border-spacing: 0;
	width: 100%;
}

.research p {
	text-indent: 0;
	margin: 4pt 8pt;
}

.research .title {
	width: 80%;
}

.research .date {
	width: 20%;
	text-align: right;
}

.research .date p {
	text-align: right;
}

.research .gray {
	background: #EFEFEF;
}



@media only screen and (max-width: 600px) {
	body {
		padding: 12pt;
	}
	.content-container {
		width: 100%;
	}
}