body {
	font-family: "Times New Roman", serif;
	text-rendering: geometricPrecision;
	background: white;
}


h1, h2, h3, h4, h5, p {
	font-weight: 400;
	margin: 10px;
}

h2 {
	letter-spacing: -0.07rem;
}
h3 {
	letter-spacing: -0.04rem;
	opacity: 0.6;
}

a {
	color: black;
}

a:visited {
	color: black;
}

p {
	line-height: 1.7rem;
	margin-top: 20px;
	text-align: justify;
	letter-spacing: -0.01rem;
}

img {
	width: 90%;
	margin: 70px 0;
}

ul {
	margin-bottom: 60px;
}

li {
	line-height: 1.7rem;
}

.sublist {
	margin-bottom: 20px;
}

.container {
	max-width: 60%;
	padding: 4rem;
}

.top-nav {
	display: flex;
	align-items: baseline;
	margin-bottom: 0px;
}

.left {
	flex-grow: 3;
}

.right {
	flex-shrink: 1;
}


@media screen and (max-width: 480px) {
	.container {
		max-width: 90%;
		padding: 10px;
		margin: 0 auto;
	}

	img {
		width: 100%; 
	}
}

.work-container {
	display: flex;
	width: 100%; 
	margin: 0 auto;
	flex-wrap: wrap;
}

.work-container .video {
	box-sizing: border-box;
  flex: 1;
  min-width: 33%;
}

.video video {
	width: 100%;
}

@media screen and (max-width: 480px) {
	.work-container {
		width: 100%;
	}
	.work-container .video {
		min-width: 100%;
	}
}







































